{
  "extends": ["eslint:recommended", "react-app", "prettier"],
  "plugins": ["react", "import"],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "lines-between-class-members": "error",
    "max-len": ["error", { "code": 80 }],
    "react/no-redundant-should-component-update": "error",
    "react/no-unused-prop-types": "warn",
    "react/prop-types": "warn",
    "react/no-unused-state": "warn",
    "react/void-dom-elements-no-children": "error",
    "react/jsx-boolean-value": ["error", "never"],
    "import/no-unresolved": "error",
    "import/first": "error",
    "import/order": ["error", { "newlines-between": "always" }],
    "jsx-a11y/href-no-hash": "off"
  }
}
